name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install npm dependencies
      run: npm ci

    - name: Create .env file
      run: |
        echo "TOKEN=${{ secrets.TOKEN }}" >> .env
      shell: bash

    - name: Stop existing PM2 process
      run: pm2 delete rms-discord-bot || true

    - name: Start application with PM2
      run: pm2 start npm --name "rms-discord-bot" -- run start

